@import '../../shared/mixins';
$asset-theme-path: './assets/images/';

body {
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}
#embed-content{
  margin: 0 auto;
}
#embed-document {
  width: 100%;
  height: 100%;
}
#embed-audio {
  .vjs-poster {
    background-size: auto;
  }
}
#embed-audio, #embed-video, #embed-image {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
}